{% extends "CORE/base.html" %}

{% block TITULO %}

    Cargar producto 

{% endblock TITULO %}

{% block CONTENIDO %}

    <Form method="post">
        {% csrf_token %}
        {{ form3 }}
        <button type="submit">Guardar</button>

    </Form>

    <Form method="post">
        {% csrf_token %}}
        {{ form }}
        <button type="submit">Guardar</button>

    </Form>
    
    <Form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Guardar</button>
    </Form>

    <a href="{% url "crear_categoria" %}" > Ir al menú principal </a>
{% endblock CONTENIDO %}